In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/RaviKumarSure/Downloads/convertcsv.csv')

In [3]:
df.shape

(168, 188)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Columns: 188 entries, fraudulent to transactions/14/transactionFailed
dtypes: bool(1), float64(23), object(164)
memory usage: 245.7+ KB

In [5]:
df

,fraudulent,customer/customerEmail,customer/customerPhone,customer/customerDevice,customer/customerIPAddress,customer/customerBillingAddress,orders/0/orderId,orders/0/orderAmount,orders/0/orderState,orders/0/orderShippingAddress,...,transactions/13/transactionId,transactions/13/orderId,transactions/13/paymentMethodId,transactions/13/transactionAmount,transactions/13/transactionFailed,transactions/14/transactionId,transactions/14/orderId,transactions/14/paymentMethodId,transactions/14/transactionAmount,transactions/14/transactionFailed
0,False,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\r\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\r\nBrownside, CA 51896",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\r\nPort Joshuabu...,nlghpa,45.0,fulfilled,"898 Henry Ports\r\nNew Keithview, CA 95893-2497",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\r\nDavisberg, PR 72250",yk34y2,33.0,failed,"8478 Sean Ridges Apt. 441\r\nDavisberg, PR 72250",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\r\nNortonstad, ...",fbz9ep,34.0,fulfilled,"7769 Elizabeth Bridge Apt. 343\r\nNortonstad, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,148 Russell Lodge Apt. 445\r\nPort Jennifersid...,56h7iw,71.0,fulfilled,148 Russell Lodge Apt. 445\r\nPort Jennifersid...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,True,mitchellvickie@brewer-jones.com,313-124-3836x3528,ecu7ezz0ue67v3fce1o3,181.90.104.120,"829 Ramirez Dam Suite 648\r\nGatesview, OR 556...",6086rd,31.0,failed,"829 Ramirez Dam Suite 648\r\nGatesview, OR 556...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,True,sbrown@hughes.biz,(250)632-6631x02499,xgv918sclaz40qlp2fee,16.166.2.0,"9472 Pacheco Islands Suite 940\r\nDrewburgh, A...",57yhdo,30.0,fulfilled,06568 Perez Extension Suite 527\r\nCliffordsid...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,True,johnlowery@gmail.com,635.676.0955x524,969zz9zdj8z4gns4sx5p,f82c:811f:8a02:e2d6:79b:fcaa:42de:570b,"548 Bryant Inlet\r\nVeronicaside, OK 00522",vcyuse,35.0,fulfilled,"548 Bryant Inlet\r\nVeronicaside, OK 00522",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,True,ethompson@jackson-sanders.com,962.300.2250,navessqcnmc9csfjn5cj,203.246.172.244,"16953 Jennifer Springs\r\nKathybury, IL 02095-...",9s9ne9,49.0,failed,"16953 Jennifer Springs\r\nKathybury, IL 02095-...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,False,dawn05@tucker-brown.com,(089)703-7360x8848,lu4fgcug8dr0dwbcuui1,132.132.95.33,"130 Kimberly Junctions\r\nEricmouth, KS 59756-...",ow1cih,23.0,fulfilled,"130 Kimberly Junctions\r\nEricmouth, KS 59756-...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#From above data we considering features which are < 84 null values bcz if any column has many null values thats not impact on model

In [6]:
df1 = pd.DataFrame (df.isnull().sum())

In [7]:
df1 [df1[0] < 84]

                                                    0
fraudulent                                          0
customer/customerEmail                              0
customer/customerPhone                              0
customer/customerDevice                             0
customer/customerIPAddress                          0
customer/customerBillingAddress                     0
orders/0/orderId                                   27
orders/0/orderAmount                               27
orders/0/orderState                                27
orders/0/orderShippingAddress                      27
orders/1/orderId                                   52
orders/1/orderAmount                               52
orders/1/orderState                                52
orders/1/orderShippingAddress                      52
paymentMethods/0/paymentMethodId                   12
paymentMethods/0/paymentMethodRegistrationFailure  12
paymentMethods/0/paymentMethodType                 12
paymentMethods/0/paymentMethodProvider             12
paymentMethods/0/paymentMethodIssuer               12
transactions/0/transactionId                       27
transactions/0/orderId                             27
transactions/0/paymentMethodId                     27
transactions/0/transactionAmount                   27
transactions/0/transactionFailed                   27
transactions/1/transactionId                       45
transactions/1/orderId                             45
transactions/1/paymentMethodId                     45
transactions/1/transactionAmount                   45
transactions/1/transactionFailed                   45
orders/2/orderId                                   71
orders/2/orderAmount                               71
orders/2/orderState                                71
orders/2/orderShippingAddress                      71
transactions/2/transactionId                       63
transactions/2/orderId                             63
transactions/2/paymentMethodId                     63
transactions/2/transactionAmount                   63
transactions/2/transactionFailed                   63
transactions/3/transactionId                       79
transactions/3/orderId                             79
transactions/3/paymentMethodId                     79
transactions/3/transactionAmount                   79
transactions/3/transactionFailed                   79

In [8]:
#From above columns we select the below features are the selected based on null values and business scenarios

In [9]:
columns = ['fraudulent','orders/0/orderAmount','orders/0/orderState',
                 'paymentMethods/0/paymentMethodRegistrationFailure','paymentMethods/0/paymentMethodType',
            'transactions/0/transactionAmount',
                 'transactions/0/transactionFailed']

In [10]:
df = df[columns]

In [11]:
df.shape

(168, 7)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 7 columns):
fraudulent                                           168 non-null bool
orders/0/orderAmount                                 141 non-null float64
orders/0/orderState                                  141 non-null object
paymentMethods/0/paymentMethodRegistrationFailure    156 non-null object
paymentMethods/0/paymentMethodType                   156 non-null object
transactions/0/transactionAmount                     141 non-null float64
transactions/0/transactionFailed                     141 non-null object
dtypes: bool(1), float64(2), object(4)
memory usage: 8.2+ KB

In [14]:
# Handling null values for continuous data
df['orders/0/orderAmount'].fillna(df['orders/0/orderAmount'].mean(),inplace=True)
df['transactions/0/transactionAmount'].fillna(df['transactions/0/transactionAmount'].mean(),inplace=True)

In [15]:
# Handling null values for categorical data
for column in df.columns:
    for dtype in df.dtypes:
        if dtype=='object':
            df[column].fillna(df[column].mode()[0],inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 7 columns):
fraudulent                                           168 non-null bool
orders/0/orderAmount                                 168 non-null float64
orders/0/orderState                                  168 non-null object
paymentMethods/0/paymentMethodRegistrationFailure    168 non-null bool
paymentMethods/0/paymentMethodType                   168 non-null object
transactions/0/transactionAmount                     168 non-null float64
transactions/0/transactionFailed                     168 non-null bool
dtypes: bool(3), float64(2), object(2)
memory usage: 5.9+ KB

In [22]:
df.head()

,fraudulent,orders/0/orderAmount,paymentMethods/0/paymentMethodRegistrationFailure,transactions/0/transactionAmount,transactions/0/transactionFailed,orders/0/orderState_failed,orders/0/orderState_fulfilled,orders/0/orderState_pending,paymentMethods/0/paymentMethodType_apple pay,paymentMethods/0/paymentMethodType_bitcoin,paymentMethods/0/paymentMethodType_card,paymentMethods/0/paymentMethodType_paypal
0,False,18.0,True,18.0,False,0,0,1,0,0,1,0
1,True,45.0,True,45.0,False,0,1,0,0,1,0,0
2,False,33.0,False,33.0,False,1,0,0,0,0,1,0
3,False,34.0,False,34.0,False,0,1,0,0,0,1,0
4,True,71.0,False,71.0,False,0,1,0,1,0,0,0

In [19]:
# Doing one hot encoding for categorical variables
df  = pd.get_dummies(df,columns = ['orders/0/orderState','paymentMethods/0/paymentMethodType'])

In [21]:
# Label Encoding for bolean features 
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder()

In [23]:
df['fraudulent'] = label_encoder.fit_transform(df['fraudulent'])
df['paymentMethods/0/paymentMethodRegistrationFailure'] = label_encoder.fit_transform(df['paymentMethods/0/paymentMethodRegistrationFailure'])
df['transactions/0/transactionFailed'] = label_encoder.fit_transform(df['transactions/0/transactionFailed'])

In [24]:
df.head()

,fraudulent,orders/0/orderAmount,paymentMethods/0/paymentMethodRegistrationFailure,transactions/0/transactionAmount,transactions/0/transactionFailed,orders/0/orderState_failed,orders/0/orderState_fulfilled,orders/0/orderState_pending,paymentMethods/0/paymentMethodType_apple pay,paymentMethods/0/paymentMethodType_bitcoin,paymentMethods/0/paymentMethodType_card,paymentMethods/0/paymentMethodType_paypal
0,0,18.0,1,18.0,0,0,0,1,0,0,1,0
1,1,45.0,1,45.0,0,0,1,0,0,1,0,0
2,0,33.0,0,33.0,0,1,0,0,0,0,1,0
3,0,34.0,0,34.0,0,0,1,0,0,0,1,0
4,1,71.0,0,71.0,0,0,1,0,1,0,0,0

In [25]:
X = df.loc[:, df.columns != 'fraudulent']
y = df['fraudulent']

# Model Building

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=1)

In [ ]:
# This is a Classification problem so we can test with Logistic Regression, Random Forest and Gradient Boosting

In [28]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [29]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
lr  = LogisticRegression()
lr.fit(X_train,y_train)

C:\Users\RaviKumarSure\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [30]:
lr_predictions = lr.predict(X_test)

In [32]:
print(confusion_matrix(y_test,lr_predictions))
print(accuracy_score(y_test,lr_predictions))
print(classification_report(y_test,lr_predictions))

[[32  0]
 [14  5]]
0.7254901960784313
              precision    recall  f1-score   support

           0       0.70      1.00      0.82        32
           1       1.00      0.26      0.42        19

   micro avg       0.73      0.73      0.73        51
   macro avg       0.85      0.63      0.62        51
weighted avg       0.81      0.73      0.67        51

# Random Forest Using for Feature Importence

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [36]:
rf_predictions = rf.predict(X_test)

In [37]:
print(confusion_matrix(y_test,rf_predictions))
print(accuracy_score(y_test,rf_predictions))
print(classification_report(y_test,rf_predictions))

[[24  8]
 [12  7]]
0.6078431372549019
              precision    recall  f1-score   support

           0       0.67      0.75      0.71        32
           1       0.47      0.37      0.41        19

   micro avg       0.61      0.61      0.61        51
   macro avg       0.57      0.56      0.56        51
weighted avg       0.59      0.61      0.60        51

In [38]:
rf.feature_importances_

array([0.35143795, 0.0450261 , 0.35665062, 0.05916104, 0.03121886,
       0.02787427, 0.01293651, 0.01171543, 0.03004921, 0.04172108,
       0.03220894])

In [39]:
X.columns

Index(['orders/0/orderAmount',
       'paymentMethods/0/paymentMethodRegistrationFailure',
       'transactions/0/transactionAmount', 'transactions/0/transactionFailed',
       'orders/0/orderState_failed', 'orders/0/orderState_fulfilled',
       'orders/0/orderState_pending',
       'paymentMethods/0/paymentMethodType_apple pay',
       'paymentMethods/0/paymentMethodType_bitcoin',
       'paymentMethods/0/paymentMethodType_card',
       'paymentMethods/0/paymentMethodType_paypal'],
      dtype='object')

In [49]:
Feature_IMP = pd.DataFrame(rf.feature_importances_,X.columns,columns=['Values'])

In [46]:
Feature_IMP

                                                     Values
orders/0/orderAmount                               0.351438
paymentMethods/0/paymentMethodRegistrationFailure  0.045026
transactions/0/transactionAmount                   0.356651
transactions/0/transactionFailed                   0.059161
orders/0/orderState_failed                         0.031219
orders/0/orderState_fulfilled                      0.027874
orders/0/orderState_pending                        0.012937
paymentMethods/0/paymentMethodType_apple pay       0.011715
paymentMethods/0/paymentMethodType_bitcoin         0.030049
paymentMethods/0/paymentMethodType_card            0.041721
paymentMethods/0/paymentMethodType_paypal          0.032209

# Conclusion : FRom This Problem Highest Importent feature are transactions/0/transactionAmount,orders/0/orderAmount